footer {
  text-align: center;
  background-color: $bgc;
  color: $color;

  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    p {
      max-width: 1200px;
    }
  }

  .informations {
    color: $color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  svg {
    color: $color;
    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}
